<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StatSquash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD44E5C61C480E9B0011A9D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD44E5DD1C480E9B0011A9D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD44E5E81C480E9B0011A9D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
